BasedOnStyle: WebKit
IndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 0
BinPackArguments: false
BreakConstructorInitializers: AfterColon
NamespaceIndentation: All

AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
# BreakBeforeParameters: Always
# BreakBeforeFunctionCallArguments: All
# PenaltyBreakBeforeClosingBracket: 0

# BreakBeforeParameters: true
# AlwaysBreakAfterReturnType: None
