logs/
obj/
__pycache__/
build/
deps/

*.log
*.obj
*.exe
*.ilk
*.pdb
*.lib
*.ifc

build.ninja
github_api_response.json
.ninja_log
.ninja_lock

subprojects/

# TODO: Eventually remove vscode folder from remote
.vscode