logs/
obj/
__pycache__/
build/
deps/

*.log
*.obj
*.exe
*.ilk
*.pdb
*.lib
*.ifc

build.ninja
github_api_response.json
.ninja_log
.ninja_lock

subprojects/

# TODO: Eventually remove vscode folder from remote
.vscode
muuk.code-workspace

idea.md
Capture.JPG
TOML.md
include/base_config.hpp
generate_flags.py
flags.md
compiler_flags.json
